:root {
  --component-padding: 1rem;
  --label-padding-x: .25em;
  --label-padding-y: .125em;
  --form-control-corner-radius: var(--component-corner-radius, 2px);
  --form-control-padding-x: var(--component-padding, 1rem);
  --form-control-padding-y: var(--component-padding, 1rem);
}

/* Global styles */

/* TODO: Move to Foundation partially */

input {
  display: block;
  width: 100%;
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  border: 1px solid var(--primary);
  border-radius: var(--form-control-corner-radius, 2px);
  height: calc(2 * var(--form-control-padding-y) + 1em);

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

::placeholder {
  color: var(--gray-600);
  opacity: 0;
  transition: 150ms;
  transform: translateY(calc(1em + var(--form-control-padding-y)));
}

:focus::placeholder {
  opacity: 1;
  transform: none;
}

label {
  position: absolute;
  display: block;
  margin:
    calc(var(--form-control-padding-y) - var(--label-padding-y))
    calc(var(--form-control-padding-x) - var(--label-padding-x));
  padding: var(--label-padding-y) var(--label-padding-x);
  color: var(--primary);
  transition: 150ms;
  top: 0;
  line-height: 1;
  transform-origin: left;
  border-radius: var(--form-control-corner-radius, 2px);
}

:matches(input, select, textarea):focus + label,
:matches(input, select, textarea):not(:placeholder-shown) + label {
  transform: translateY(calc(-1 * var(--form-control-padding-y) - 0.4375em));
  font-size: var(--font-size-small, 0.875em);
  background: var(--white, #fff);
}

/* Text field */

.container {
  position: relative;
}

/* Size variations */

.small {
  --form-control-padding-y: calc(0.75 * var(--component-padding));
}

.large {
  --form-control-padding-y: calc(1.25 * var(--component-padding));
}
