:root {
  /* Control */
  --form-control-corner-radius: var(--component-corner-radius, 2px);
  --form-control-border-width: 1px;
  --form-control-padding-x: var(--component-padding, 1rem);
  --form-control-padding-y: var(--component-padding, 1rem);
  --form-control-color: var(--primary);

  /* Label */
  --form-label-color: var(--form-control-color);
  --form-label-padding-x: 0.25em;
  --form-label-padding-y: 0.125em;
  --form-label-font-size: 0.75em;

  /* Helper */
  --form-helper-font-size: var(--font-size-small, 0.875em);
  --form-helper-color: var(--gray-600);
}

/* Global styles */

/* TODO: Move to Foundation partially */

input {
  display: block;
  width: 100%;
  height: calc(2 * var(--form-control-padding-y) + 1em);
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  border: var(--form-control-border-width) solid var(--form-control-color);
  border-radius: var(--form-control-corner-radius);

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

::placeholder {
  color: var(--gray-600);
  opacity: 0;
  transition: 150ms;
  transform: translateY(calc(1em + var(--form-control-padding-y)));
}

label {
  position: absolute;
  top: 0;
  display: block;
  padding: var(--form-label-padding-y) var(--form-label-padding-x);
  margin: calc(var(--form-control-padding-y) - var(--form-label-padding-y))
    calc(var(--form-control-padding-x) - var(--form-label-padding-x));
  line-height: 1;
  color: var(--form-label-color);
  border-radius: var(--form-control-corner-radius, 2px);
  transition: 150ms;
  transform-origin: left;
}

/* Text field */

.container {
  position: relative;
}

/* Helper message */

.helper {
  display: block;
  padding-right: var(--form-control-padding-x);
  padding-left: var(--form-control-padding-x);
  margin-top: calc(1.5rem - 1em);
  font-size: var(--form-helper-font-size);
  color: var(--form-helper-color);

  &:empty {
    display: none;
  }
}

/* Size variations */

.small {
  --form-control-padding-y: calc(0.75 * var(--component-padding, 1rem));
}

.large {
  --form-control-padding-y: calc(1.25 * var(--component-padding, 1rem));
}

/* Behaviour variations */

:matches(input, select, textarea):focus + label,
:matches(input, select, textarea):not(:placeholder-shown) + label,
:matches(input, select, textarea):-webkit-autofill + label,
.focus label {
  font-size: var(--form-label-font-size);
  background: var(--white, #fff);
  transform: translateY(
    calc(
      -1 * var(--form-control-padding-y) - var(--form-label-font-size) / 2 - var(--form-control-border-width)
    )
  );
}

.focus::placeholder,
:focus::placeholder {
  opacity: 1;
  transform: none;
}

/* Colour variations */

.success {
  --form-control-color: var(--success-dark);
  --form-helper-color: var(--form-control-color);

  /* For some reason --form-control-color change is not enough */
  --form-label-color: var(--form-control-color);
}

.error {
  --form-control-color: var(--danger-dark);
  --form-helper-color: var(--form-control-color);

  /* For some reason --form-control-color change is not enough */
  --form-label-color: var(--form-control-color);
}

.touched:invalid,
.touched:invalid + label {
  --form-control-color: var(--danger-dark);
  --form-label-color: var(--form-control-color);
}
