:root {
  --search-result-thumbnail-width: 5rem;
  --search-result-thumbnail-height: 7rem;
  --search-result-thumbnail-border-radius: 2px;
  --search-result-footnote-height: 2rem;
}

.container {
  position: relative;
  min-height: calc(var(--search-result-thumbnail-height) + var(--card-padding-y, 1rem) + 1rem);
  padding-left: calc(2 * var(--card-padding-x, 1rem) + var(--search-result-thumbnail-width));
  margin-bottom: var(--search-result-footnote-height);
}

.title {
  margin-bottom: .5rem;
}

.thumbnail {
  position: absolute;
  top: var(--card-padding-y, 1rem);
  left: var(--card-padding-x, 1rem);
  margin: 0;
}

.thumbnail a {
  display: block;
  border-radius: var(--search-result-thumbnail-border-radius);
  transition: box-shadow 150ms;

  &:link:hover {
    text-decoration: none;
    box-shadow: var(--elevation-01);
  }

  &:link:focus {
    text-decoration: none;
    box-shadow: var(--elevation-04);
  }

  &:link:active {
    box-shadow: none;
  }
}

.thumbnail img {
  display: block;
  width: var(--search-result-thumbnail-width);
  height: var(--search-result-thumbnail-height);
  object-fit: cover;
  border: 1px solid var(--primary);
  border-bottom: 0;
  border-radius:
    var(--search-result-thumbnail-border-radius)
    var(--search-result-thumbnail-border-radius)
    0
    0;

  &:not([src]) {
    border-color: var(--gray-300);
  }

  &::after,
  &::before {
    display: none;
    content: 'a';
  }
}

.thumbnail-caption {
  display: block;
  width: 100%;
  padding: .125rem .25rem;
  font-size: .75rem;
  line-height: 1;
  color: var(--white);
  text-align: center;
  background: var(--primary);
  border-radius:
    0
    0
    var(--search-result-thumbnail-border-radius)
    var(--search-result-thumbnail-border-radius);
}

.thumbnail-caption-empty {
  color: var(--gray-700);
  background: var(--gray-300);
}

.content {
  height: 3rem;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Loading states */
[aria-busy='true'] .thumbnail-caption:empty {
  display: none;
}

.link {
  color: var(--gray-800);
  text-decoration: underline;
}

.footnote {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: var(--search-result-footnote-height);
  margin: 0 1rem;
  font-size: .75rem;
  transform: translateY(100%);
}

.footnote span{
  color: var(--gray-600);
}

.repository-link {
  color: initial;
}

/* Variants */
.full-text-hosted {
  /* Preserving for the future use */
}

.full-text-linked {
  @extend .full-text-hosted;
}

.full-text-missing {
  & .thumbnail {
    filter: grayscale(100%);
  }
}

.metadata-list {
  color: var(--gray-700);
}

.metadata-list span{
  color: var(--gray-700);
}
