.container {
  padding-left: 0;
  margin-top: 1rem;
  list-style-type: none;
}

.item {
  padding: .5rem 0;
  border-top: 1px solid var(--gray-200);

  &:last-child {
    border-bottom: 1px solid var(--gray-200);
  }
}

.header {
  font-size: .75rem;
  color: var(--gray-700);
}

.content {
  display: flex;
  align-items: center;
}
