:root {
  --message-success-color: var(--success-dark);
  --message-warning-color: var(--warning-dark);
  --message-danger-color: var(--danger-dark);
  --message-border-radius: 2px;
  --message-padding: 1rem;
}

.message {
  display: block;
  padding: var(--message-padding);
  border: 1px solid currentColor;
  border-radius: var(--message-border-radius);
}

.success {
  color: var(--message-success-color);
}

.warning {
  color: var(--message-warning-color);
}

.danger {
  color: var(--message-danger-color);
}
