:root{
  --container-width: 46px;
  --container-height: 26px;
  --box-background: var(--gray-300);
  --active-background: #30a64a;
  --button-width: 20px;
  --button-height: 20px;
  --position-margin: 3px;
  --label-font-size: 1rem;
}

.small {
  --container-width: 35px;
  --container-height: 20px;
  --button-width: 14px;
  --button-height: 14px;
  --position-margin: 3px;
  --label-font-size: .9rem;
}

.big {
  --container-width: 100px;
  --container-height: 50px;
  --button-width: 40px;
  --button-height: 40px;
  --position-margin: 5px;
  --label-font-size: 2rem;
}

.container {
  display: inline-flex;
}

.checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--container-width);
  height: var(--container-height);
  cursor: pointer;
  background: var(--box-background);
  border-radius: 50px;
  transition: background-color .2s;
}

.active{
  background-color: var(--active-background);
}

.box .button {
  position: absolute;
  top: var(--position-margin);
  left: var(--position-margin);
  width: var(--button-width);
  height: var(--button-height);
  content: '';
  background: #fff;
  border-radius: 45px;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, .29);
  transition: .2s;
}

.checkbox:checked + .box .button {
  transform: translateX(100%);
}


.label{
  margin-left: 1rem;
  font-size: var(--label-font-size);
}
