:root {
  --card-padding-x: var(--component-padding-x, 1rem);
  --card-padding-y: var(--component-padding-y, 1rem);
  --card-background: var(--white, #fff);
  --card-corner-radius: var(--component-corner-radius, 2px);
  --card-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  --card-title-color: var(--gray-800);
  --card-description-color: var(--gray-700);
}

.container {
  min-width: var(--card-min-width, 18rem);
  padding: var(--card-padding-y) var(--card-padding-x);
  background: var(--card-background);
  border-radius: var(--card-corner-radius);
  box-shadow: var(--card-box-shadow);
}

.title {
  margin-bottom: .5rem;
  color: var(--card-title-color);
}

.description {
  margin-top: 0;
  font-size: .875rem;
  color: var(--card-description-color);
}

.footer {
  padding: var(--card-padding-y) var(--card-padding-x);
  margin-right: calc(-1 * var(--card-padding-x));
  margin-left: calc(-1 * var(--card-padding-x));

  &:last-child {
    margin-bottom: calc(-1 * var(--card-padding-y));
  }
}
