:root {
  --modal-padding-x: var(--component-padding-x, 1rem);
  --modal-padding-y: var(--component-padding-y, 1rem);
  --modal-background: var(--white, #fff);
  --modal-corner-radius: var(--component-corner-radius, 2px);
  --modal-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  --modal-title-color: var(--gray-800);
  --modal-overlay-color: rgba(0, 0, 0, .5);
  --modal-bar-fixed-z-index: calc(var(--app-bar-fixed-z-index, 1020) + 10);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--modal-bar-fixed-z-index);
  background: var(--modal-overlay-color);
}

.title {
  padding-bottom: 1rem;
  margin: 0;
  color: var(--modal-title-color);
  border-bottom: 1px solid var(--gray-200);
}

.footer {
  padding-top: 1rem;
  margin: 0;
  border-top: 1px solid var(--gray-200);
}

.content {
  overflow-y: auto;
}

.modal {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  max-height: 80vh;
  padding: var(--modal-padding-y) var(--modal-padding-x);
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  background: var(--modal-background);
  border-radius: var(--modal-corner-radius);
  box-shadow: var(--modal-box-shadow);
}
